<div class="container">
  <div class="card mb-1">
    <div class="card-header ">
      <div class="row">
        <div class="col">
          <h1 class="history_font">Search History</h1>
        </div>
        <div class="pull-right col-xs-1 mt-2">
          <%= link_to "Clear History", history_clear_path, method: "post", class: "btn btn-danger mr-2"%>
        </div>
      </div>
    </div>
  </div>
  <% @history.each do |history| %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        <div class="row">
          <div class="col history_link history_font">
            <%= link_to history.query, controller: 'home', action: 'index', params: {query: history.query}, class: 'list-group-item' %>
            <%= time_ago_in_words(history.created_at)%> ago.
          </div>
          <div class="pull-right col-xs-1">
            <%= link_to 'Delete', history, method: :delete, class: 'btn btn-outline-danger mr-2' %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
