<div class="container">
  <div class="jumbotron">
    <h1>Search History</h1>
    <% @historys.each do |history| %>
      <a href="/history/index">
        <%= history[:query] %>
      </a>
    <% end %>
  </div>
</div>
