<div class="container">
  <div class="jumbotron">
    <h2 class="display-3 text-center">Check Out Giphy Here!!!!</h2>
    <div class="giphy">
      <% @giphies.each do |giphy| %>
        <%= image_tag giphy[:original_url] %>
      <% end %>
    </div>
  </div>
</div>
