<div class="container">
  <div class="jumbotron">
    <h3 class="display-3 text-center">Explore Animation GIFs</h3>
    <div class="giphy">
      <% @giphies.each do |giphy| %>
        <%= image_tag giphy[:original_url] %>
      <% end %>
    </div>
  </div>
</div>
