<div class="container">
  <div  class="jumbotorn">
    <h3 class="display-3 text-center">News</h3>
    <% @news.each do |news| %>
      <h1><%= news[:title] %></h1>
      <p><%= news[:author]%></p>
      <%= image_tag news[:urlToImage] %>
    <% end %>
  </div>
</div>
