<h1>Weather</h1>
<p>Find me in app/views/weather/show.html.erb</p>
<div class="container">
  <div class="jumbotron">
    <section class="graphic">
      <div class="icon"></div>
    </section>
    <section class="temperature">loading...</section>
    <section class="city">
      <%= @weather %>
    </section>
  </div>
</div>
