<div class="container">
  <div class="jumbotron">
    <h3>Gerty is a friendly app where you can search for</h3>
    <ul>
      <li>Weather</li>
      <li>Movie</li>
      <li>Giphy</li>
      <li>Quote</li>
    </ul>
    <h3>This app is created using Ruby on rails </h3>
  </div>
</div>
