<div class="container">
  <div class="jumbotron">
    <h3>Grety is a friendly app where you can search for</h3>
    <ul>
      <li>Weather</li>
      <li>Movie</li>
      <li>Giphy</li>
      <li>Quote</li>
    </ul>
  </div>
</div>
