<div class="container">
  <div class="card border-dark mb-3">
    <h1 class="card-header about-font text-center">About</h1>
    <div class="card-body text-center">
      <h3 class="about-font">
        GERTY is a Virtual Assistant that helps you find information quickly. Be it current weather,
        breaking news or getting inspired with an inspirational quote to start your day!
        Ask away and get answer to your question and get on without scrolling through endless pages
        of google search results.
      </h3>
      <h3 class="about-font">GERTY is powered by:</h3>
      <ul class="links_to_api">
        <li class="links grow"> <a href="http://www.omdbapi.com/" class="about-font">OMDB API</a></li>
        <li class="links grow"> <a href="https://newsapi.org/" class="about-font">Newsgogo API</a></li>
        <li class="links grow"> <a href="https://darksky.net/dev" class="about-font">Weather API</a></li>
        <li class="links grow">  <a href="http://quotes.rest/" class="about-font">Quotes API</a></li>
        <li class="links grow"> <a href="https://giphy.com/" class="about-font">Giphy API</a></li>
      </ul>
      <h3 class="about-font"> Built with <img src="https://image.flaticon.com/icons/svg/148/148838.svg" class="heart"alt=""> in Melbourne by Priyanka Mukund</h3>
      <h4 class="profile_pri grow links about-font">
        <a href="https://github.com/priyankamk">
          <img src="https://image.flaticon.com/icons/svg/25/25657.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/in/priyanka-mukund-kumaresh/">
          <img src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="">
        </a>
        <a href="mailto:priyanka@kunday.com">
          <img src="https://image.flaticon.com/icons/svg/281/281769.svg" alt="">
        </a>
      </h4>
    </div>
  </div>
</div>
