<div class="container">
  <div class="jumbotron">
    <h3 class="about-font">Gerty is a friendly app where you can search for</h3>
    <ul>
      <li class="about-font">News</li>
      <li class="about-font">Weather</li>
      <li class="about-font">Movie</li>
      <li class="about-font">Giphy</li>
      <li class="about-font">Quote</li>
    </ul>
  </div>
</div>
