// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-font{
  font-family: 'Philosopher', sans-serif;
}

.links img {
  width: 30px;
}

.links a {
  text-decoration: none;
}

.links_to_api {
  list-style-type: none;
  margin: 0;
  // color: rgb(255, 94, 0);
  padding: 0;
  text-decoration: none;
}

.heart {
  width: 30px;
}
a:hover {
  color: rgb(255, 0, 98);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1);}