// Place all the styles related to the giphy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.giphy img {
  height: 500px;
  width: 500px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

// .giphy {
//   height: 600px;
//   width: 500px;
//   margin-bottom: 10px;
// }