// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.movie-font {
  font-family: 'Philosopher', sans-serif;
  text-decoration: none;
}

// a:hover {
//   color: rgb(255, 0, 98);
// }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1);}