// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon > img{
  height: 8rem;
  width: 8rem;
}

.city {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.temperature, .summary {
  // font-size: 3rem;
  display: flex;
  justify-content: center;
}

.wrapper { /* flex container */
  height: 50vh; /* percentenage viewport height */
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.wrapper, .graphic {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}