<div class="container">
  <div class="jumbotron">
    <div class="card-header">
      <h2>List for similar movie names:</h2>
    </div>
    <div calss="card-body">
      <div class="row ml-3 mr-1">
        <ul class ="list-unstyled" >
          <% @movie.each do |movie| %>
            <li>
              <a href='/movie?imdbID=<%= movie["imdbID"] %>'><%= movie["title"]%></a>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
