<div class="container">
  <div class="jumbotron quote_color">
    <img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/75-256.png" alt="" height="50" weight="50">
    <h2> <%= @quote[:quote] %> </h2>
    <h5>--<%= @quote[:author]%> </h5>
  </div>
</div>
