<div class="container">
  <div class="jumbotron" style='background-color: #<%= @color %>'>
    <img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/75-256.png" alt="" height="50" weight="50">
    <h2 class="quote_font"> <%= @quote[:quote] %> </h2>
    <h5 class="blockquote-footer quote_font"> <%= @quote[:author]%> </h5>
  </div>
</div>
